.heading-container {
    text-align: center;
    padding: 20px;
    margin-top: -1px;
    box-shadow: 0 2px 4px rgba(228, 47, 47, 0.1); 
    color: #000000;
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: -20px;
    padding: 20px;
    background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
}

.contact-form:hover {
    transform: translatey(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group label {
    color: #fefeff; 
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 24px);
    padding: 16px;
    margin: 12px;
    margin-left: -14px;
    border: 1px solid #d57171;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #ff6b6b;
    box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
}

.error {
    border-color: #ff6b6b;
}

.error-message {
    color: #ff6b6b;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #ff6b6b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Add transition for background color and transform */
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #ff4545;
    transform: scale(1.05);
}
