body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/268966/pexels-photo-268966.jpeg?auto=compress&cs=tinysrgb&w=600");
  
}
 .container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.heading-container {
  text-align: center;
  padding: 20px;
  margin-top: -1px;
  box-shadow: 0 0 10px rgba(0, 10, 10, 50);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  grid-gap: 20px;
}
form label {
  font-weight: bold;
  color: #333;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
}

textarea {
  height: 50px;
}

